<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/adminviewpage.css">
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/pen.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/trash.css' rel='stylesheet'>
                       
</head>
<body>
    <!-- sidebar start  -->
    <div class="sidebar">
        <h2></h2>
        <ul>
          <li><a href="#">View</a></li>
          <li><a href="#">Add</a></li>
          <li><a href="#">Edit</a></li>
        </ul>
      </div>
    <!-- sidebar end  -->
    <!-- main-content start -->
    <div class="main-content">
		<h1>Main Content</h1>
        <div class="grid-container">
            <div class="filmview">
                
                <ul class="numbered-list">
                    <h2>List of Film</h2>
                    <li>
                      <span class="list-number"></span> Item 1 
                      <span class="list-actions">
                        <button class="edit-btn"><i class="gg-pen gg-sm"></i></button>
                        <button class="delete-btn"><i class="gg-trash"></i></button>
                      </span>
                    </li>
                    <li>
                      <span class="list-number"></span> Item 2 
                      <span class="list-actions">
                        <button class="edit-btn"><i class="gg-pen"></i></button>
                         
                        <button class="delete-btn"><i class="gg-trash"></i></button>
                      </span>
                    </li>
                    <li>
                      <span class="list-number"></span> Item 3 
                      <span class="list-actions">
                        <button class="edit-btn"><i class="gg-pen"></i></button>
                        <button class="delete-btn"><i class="gg-trash"></i></button>
                      </span>
                    </li>
                    <!-- Add more list items as needed -->
                  </ul>
                  

            </div>
            <div class="tvseriesview">
                <ul class="numbered-list">
                    <h2>List of Tvseries</h2>
                    <li>
                      <span class="list-number"></span> Item 1 
                      <span class="list-actions">
                        <button class="edit-btn"><i class="gg-pen gg-sm"></i></button>
                        <button class="delete-btn"><i class="gg-trash"></i></button>
                      </span>
                    </li>
                    <li>
                      <span class="list-number"></span> Item 2 
                      <span class="list-actions">
                        <button class="edit-btn"><i class="gg-pen"></i></button>
                         
                        <button class="delete-btn"><i class="gg-trash"></i></button>
                      </span>
                    </li>
                    <li>
                      <span class="list-number"></span> Item 3 
                      <span class="list-actions">
                        <button class="edit-btn"><i class="gg-pen"></i></button>
                        <button class="delete-btn"><i class="gg-trash"></i></button>
                      </span>
                    </li>
                    <!-- Add more list items as needed -->
                  </ul>
            </div>
          </div>
          
		
	</div>
    <!-- main-content end  -->
</body>
</html>