<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/indesx.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/posterView.css">
</head>
<body>
    <!-- leading line -->
    <nav>
        <ul>
            <li><a href="../index.php">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <form>
            <input type="text" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
          
    </nav>
    <!-- title of film  -->
    <h2 class="post-title">This is the post title</h2>


    <!-- image of film  -->
    <div class="container"> 
        <div class="image-box postimg">    
              <img src="../assets/lucifer.jpg" alt="Image description">  
        </div>
        <div class="viedoyt">
          <iframe width="100%" height="500px" src="https://www.youtube.com/embed/X4bF_quwNtw" frameborder="0" allowfullscreen> 
          </iframe>
          </div>
      </div>
    <!-- footer  -->
 <!-- download button add  -->
    <a href="your_file_path"  class="download-btn">Download</a>

    <footer>
        <div class="footer">
            <p>This is footer section.</p>
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-github"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
            <div class="footer-copyright">
                <p>copyright Randika &copy;2023 </p>
            </div>
        </div>

    </footer>
    <script src="../js/data.js"></script>
    <script src="../js/fulljs.js"></script>
    <script src="../js/viewpage.js"></script>
    <script src="../js/othersearxh.js"></script>
</body>
</html>